img {
    width: 8.5em;
    height: 13.5em;
    display: block;
    margin: auto;
    outline-style: solid;
    margin-top: 1.5em;
    position: relative;
    bottom: 1em;
}


div {
    outline-style: solid;
    width: 40%;
    display: block;
    float: left;
    margin: 5%;
    height: 33em;
    background-color: lightgray;
}

.title {
    text-align: center;
    font-size: 2em;
}

.date {
    font-size: 0.5em;
    text-align: center;
    margin-left: 1em;
}

.overview {
    text-align: center;
    height: 11em;
    font-size: 1em;
    margin-left: auto;
    background-color: gray;
    outline-style: solid;
    vertical-align: middle;
    display: table-cell;
}