img {
    width: 20%;
    height: 15em;
    display: block;
    margin: auto;
    outline-style: solid;
    margin-top: 1.5em;
    position: relative;
    bottom: 1em;
}

a {
    color: black;
    text-decoration: none;
}

.divMovie {
    outline-style: solid;
    width: 40%;
    display: block;
    float: left;
    margin: 5%;
    height: 33em;
    background-image: linear-gradient(darkred, black);
}

.divTv {
    outline-style: solid;
    width: 40%;
    display: block;
    float: left;
    margin: 5%;
    height: 33em;
    background-image: linear-gradient(darkblue, black);
}

.title {
    text-align: center;
    font-size: 2em;
}

.date {
    font-size: 0.5em;
    text-align: center;
    margin-left: 1em;
}

.overviewMovie {
    text-align: center;
    height: 11em;
    font-size: 0.9em;
    margin: auto;
    background-color: gray;
    outline-style: solid;
    vertical-align: middle;
    display: table-cell;
}

.overviewTv {
    text-align: center;
    height: 11em;
    font-size: 0.9em;
    margin: auto;
    background-color: gray;
    outline-style: solid;
    vertical-align: middle;
    margin: 0px;
    display: table-cell;
}